    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}/" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <meta name="google-translate-customization" content="b6b5a3cf7d7ea8ce-2242cfe76d659cb5-g8be6a2caa4965591-13"></meta>
    </head>
