---
---

@import '{{ site.theme }}';

h1 {
  a {
    color: #508bd2;
  }

  color: #3b4252;
}

a {
  color: #5e81ac;
}

p {
  color: #4c566a;
}

nav {
  float: right;
  a {
    color: #4c566a;
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  .container-lg {
    width: 900px;
    margin: 0 auto;
  }
}
