---
---

@import '{{ site.theme }}';

// polar night
$nord0: #2e3440 !default;
$nord1: #3b4252 !default;
$nord2: #434c5e !default;
$nord3: #4c566a !default;

// snow storm
$nord4: #d8dee9 !default;
$nord5: #e5e9f0 !default;
$nord6: #eceff4 !default;

// frost
$nord7: #8fbcbb !default;
$nord8: #88c0d0 !default;
$nord9: #81a1c1 !default;
$nord10: #5e81ac !default;

// aurora
$nord11: #bf616a !default;
$nord12: #d08770 !default;
$nord13: #ebcb8b !default;
$nord14: #a3be8c !default;
$nord14: #b48ead !default;

#main-content {
  width: 100%;
}
header {
  background: $nord10;
  font-family: 'Courier New', Courier, monospace;

  h1 {
    color: $nord6;
  }

  h2 {
    color: $nord4;
  }

  .inner {
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      img.button {
        height: 150px;
      }
    }
  }
}

#main-content {
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    color: $nord10;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Courier New', Courier, monospace;
  }
}

a {
  color: $nord10;
}

a:hover {
  color: $nord11;
}
