<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
            {% include header.html %}
            <main class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid">
                    {{ content }}
                </div>
                <footer class="mdl-mini-footer">
                    {% include footer.html %}
                </footer>
            </main>
        </div>
    </body>
</html>
